
<!-- <body class="tier-1 layout-n0-p1-s1" id="about"> -->

  <div id="container">
      <div id="inner-container">

    <!-- header -->
    <div id="header">
      <div id="masthead">
        <div><%= link_to "Global Connections",root_path %></div>
      </div>

      <!-- navigation menu -->
      <%= render 'navigation' %>
    </div>
    <!-- //header -->
    <!-- page content -->
    <div id="content" class="content clearfix">
      <div class="hidden"><p><a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
      <div id="tertiary-content" class="tc">

        <div id="nav-sub" class="nav">


                  </div>
      </div>


          <div id="primary-content" class="pc">

  <h1>About Global Connections</h1>

  <h3>The Origin of Global Connections:</h3>
  <p class="lead-in">The catalyst for the International School Leaders Seminar on Global Connections was a day-long discussion in January 1995 involving Heads of Schools and representatives of <a href="http://boardingschools.com/home.aspx" target="_new">The Association of Boarding Schools</a> (TABS) and the then Federation of American and International Schools (FAIS). The Convener was Peter D. Pelham, founding director of Pelham Associates, an educational advising group in Maryland; the host was John Ratt&#233;, then head of the <a href="http://www.loomischaffee.org/" target="_new">Loomis Chaffee School</a> in Connecticut.</p>
  <p><img src="../images/about/001.jpg" align="left" alt="001.jpg" width="206" height="101" />A <a href="summary.aspx.html">summary of that meeting</a>, which sparked the creation of Global Connections, contains 10 objectives which the Heads of School identified as initial steps in working towards a more global perspective.</p>
  <p>A second initiative was a session at the 1995 annual conference of the <a href="http://www.nais.org/">National Association of Independent Schools</a> (NAIS) on global perspectives. The panel for this presentation included four individuals who had participated in the January meeting at Loomis Chaffee.</p>
  <p>The third impetus was a three-hour workshop prepared for the 1996 NAIS conference in Washington on "Building Internationalism in Independent Schools: How Can We Learn From Each Other?" More than 40 heads of school or directors of international programs attended. Presentations were made by representatives of <a href="http://www.nmhschool.org/" target="_new">Northfield Mount Hermon</a> (U.S.), the <a href="http://www.ggs.vic.edu.au/" target="_new">Geelong Grammar School</a> (Australia), <a href="http://www.maruapula.org/" target="_new">Maru-a-Pula</a> (Botswana), and the <a href="http://www.kufs.ac.jp/nishiko/" target="_new">Kyoto Nishi High School</a> (Japan). The emphasis was on identified, achievable international programs initiated by these and other national schools.</p>
  <p><br />
    </p>
  <h3>Evolution of the Global Connections Seminars</h3>
      <p>Read about the history of Global Connections Seminars from the <a href="summary.aspx.html">initial meeting in 1997</a> through the <a href="evolution.aspx.html">evolution of Global Connections</a>.


          </div>
          <div id="secondary-content" class="sc">

  <dl class="image block2">
          <dt><img alt="Founder Peter Pelham and his wife, Isobel" src="../images/about/founderandwife.jpg"></dt>
          <dd>Global Connections Founder Peter Pelham with his wife, Isobel</dd>
        </dl>
                  <h2>Global Connections Timeline</h2>
                  <dl class="timeline">
                    <dt>1997</dt>
                      <dd>Global Connections I was jointly hosted by St. Stithians College and Collegiate in Randburg, South Africa, and the Maru-a-Pula School in Gaborone, Botswana...<a class="readmore" href="evolution.aspx.html">More</a>
                      </dd>
                  </dl>
                  <dl class="timeline">
                    <dt>1998</dt>
                      <dd>Global Connections II was held Down Under in 1998 in two areas of Australia, Victoria and New South Wales...<a class="readmore" href="evolution.aspx.html">More</a>
                      </dd>
                  </dl>
                  <dl class="timeline last-child">
                    <dt>1999</dt>
                      <dd>Global Connections III emphasized an entirely different agenda, that of Leadership Training and Team Building which was eminently appropriate for the host school, Wellington College, one of England's recognized leaders in this area...<a class="readmore" href="evolution.aspx.html">More</a>
                      </dd>
                  </dl>

  <a href="summary.aspx.html#initiatives"><img src="../images/common/btn_connections.gif" alt="Learn about our Global Connections Initiatives"  /></a>

          </div>
      </div> <!--closing content-->
      </div>
  </div>
