<body class="tier-1 layout-n0-p1-s1" id="news_and_initiatives">

  <div id="gcheader"></div>
    <div id="container">
        <div id="inner-container">

			<!-- header -->
			<div id="header">
				<div id="masthead">
					<div><a href="../index.aspx.html">Global Connections</a></div>
				</div>

				<div id="nav">
					<div class="hidden"><p><a href="index.aspx.html#nav-sub">Skip to Section Subnavigation</a> <a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
					<div id="nav-main">

<ul>
							<li id="nav-li-home"><a href="../index.aspx.html" id="nav-link-home" >Home</a></li>
							<li id="nav-li-about"><a href="../about/index.aspx.html" id="nav-link-about" >About</a></li>
							<li id="nav-li-seminars"><a href="../seminars/index.aspx.html" id="nav-link-seminars" >Seminars</a></li>
							<li id="nav-li-publications"><a href="../publications/index.aspx.html" id="nav-link-publications" >Publications</a></li>
							<li id="nav-li-news_and_initiatives"><a href="index.aspx.html" id="nav-link-news_and_initiatives" class="active">News and Initiatives</a></li>
					</ul>

					</div>
				</div>
			</div>
			<!-- //header -->
			<!-- page content -->
			<div id="content" class="content clearfix">
				<div class="hidden"><p><a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
				<div id="tertiary-content" class="tc">

					<div id="nav-sub" class="nav">


                    </div>
				</div>


            <div id="primary-content" class="pc">

		<h1>News and Initiatives</h1>
        <p class="lead-in">Recent news from the Global Connections Foundation:</p>

         <div class="news-list">
           		<ul class="news">

                 <li>
                     <h4>Global Connections Seminar XVII, January 12-19, 2016                        </h4>
                     <p>See the <a href="../documents/GC-Program-vMay22.pdf" target="_new">itinerary for the seminar</a>, and download the <a href="../documents/GCXVI-Information-Sheet.pdf" target="_new">information sheet</a>. </p>
                     <br />
<br />
               <a class="readmore" href="GCSeminarXVI.aspx.html">More about the seminar</a> <br />
               <br />
                </li>
                    <li>
                        <h4>Global Connections Seminar XVI, June 21-30, 2014                        </h4>
                        <p>See the <a href="../documents/GC-Program-vMay22.pdf" target="_new">itinerary for the seminar</a>, and download the <a href="../documents/GCXVI-Information-Sheet.pdf" target="_new">information sheet</a>. </p>
                        <br />
<br />
                  <a class="readmore" href="GCSeminarXVI.aspx.html">More about the seminar</a> <br />
                  <br />
                  </li>
                    <li>
                    <h4>Global Connections Seminar XV</h4>
                    <p>Thanks, and GC Seminar XV Declaration<br />
                      <br />
<a class="readmore" href="GCSeminarXV_thoughts.aspx.html"> <strong>More</strong></a>
                    </li>
                </ul>
            </div>



            </div>
            <div id="secondary-content" class="sc">


					<dl class="image block2">
						<dt><img src="../images/news/Fortress_Skopje_Macedonia.jpg" alt="Fortress in Skopje, Macedonia" /></dt>
						<dd>Fortress, Skopje, Macedonia. Photo courtesy of Wikimedia, Tony Bowden, photographer.</dd>
					</dl>

            </div>
        </div> <!--closing content-->
        </div>
    </div>


<script type="text/javascript" language="JavaScript">
	// <![CDATA[
	// An array of links should keep their https
	var SI_skipHTTPS = new Array(
		'/Alumni/$', // $ all links are de-https'd with this path /Alumni/
		'/Alumni/index.aspx'
		);
	SI_deHTTPSLinks();
	// ]]>
</script>



<div id="gcfooter"></div>

</body>
