


    <div id="container">
        <div id="inner-container">

			<!-- header -->
			<div id="header">
				<div id="masthead">
          <div><%= link_to "Global Connections",root_path %></div>
				</div>

        <!-- navigation menu -->
        <%= render 'navigation' %>
			</div>
			<!-- //header -->
			<!-- page content -->
			<div id="content" class="content clearfix">
				<div class="hidden"><p><a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
				<div id="tertiary-content" class="tc">

					<div id="nav-sub" class="nav">


                    </div>
				</div>


            <div id="primary-content" class="pc">

		<h1>News and Initiatives</h1>
        <p class="lead-in">Recent news from the Global Connections Foundation:</p>

         <div class="news-list">
           		<ul class="news">

                <% @seminars.sort{|a, b| b.order <=> a.order}.each do |seminar| %>
                <li>
                  <h4><%= link_to seminar.title, seminar%></h4>
                  <br />
                </li>
                <% end %>
                </ul>
            </div>



            </div>
            <div id="secondary-content" class="sc">


					<dl class="image block2">
						<dt><img src="../images/news/Fortress_Skopje_Macedonia.jpg" alt="Fortress in Skopje, Macedonia" /></dt>
						<dd>Fortress, Skopje, Macedonia. Photo courtesy of Wikimedia, Tony Bowden, photographer.</dd>
					</dl>

            </div>
        </div> <!--closing content-->
        </div>
    </div>
