


    <div id="container">
        <div id="inner-container">

			<!-- header -->
			<div id="header">
				<div id="masthead">
          <div><%= link_to "Global Connections",root_path %></div>
				</div>

        <!-- navigation menu -->
        <%= render 'navigation' %>
			</div>
			<!-- //header -->
			<!-- page content -->
			<div id="content" class="content clearfix">
				<div class="hidden"><p><a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
				<div id="tertiary-content" class="tc">

					<div id="nav-sub" class="nav">


                    </div>
				</div>


            <div id="primary-content" class="pc">

		<h1>News and Initiatives</h1>
        <p class="lead-in">Recent news from the Global Connections Foundation:</p>

         <div class="news-list">
           		<ul class="news">
                <li>
                  <a class="readmore" href="news_and_initiatives/GCSeminarXVIII.aspx.html"><h4>Global Connections Seminar XVIII, March 17-25, 2017 </h4></a>
                  <br />
                  <br />
                </li>

                 <li>
                     <a class="readmore" href="news_and_initiatives/GCSeminarXVII.aspx.html"><h4>Global Connections Seminar XVII, January 12-19, 2016 </h4></a>
               <br />
               <br />
                </li>
                    <li>
                        <h4>Global Connections Seminar XVI, June 21-30, 2014                        </h4>
                        <p>See the <a href="../documents/GC-Program-vMay22.pdf" target="_new">itinerary for the seminar</a>, and download the <a href="../documents/GCXVI-Information-Sheet.pdf" target="_new">information sheet</a>. </p>
                        <br />
<br />
                  <a class="readmore" href="GCSeminarXVI.aspx.html">More about the seminar</a> <br />
                  <br />
                  </li>
                    <li>
                    <h4>Global Connections Seminar XV</h4>
                    <p>Thanks, and GC Seminar XV Declaration<br />
                      <br />
<a class="readmore" href="GCSeminarXV_thoughts.aspx.html"> <strong>More</strong></a>
                    </li>
                </ul>
            </div>



            </div>
            <div id="secondary-content" class="sc">


					<dl class="image block2">
						<dt><img src="../images/news/Fortress_Skopje_Macedonia.jpg" alt="Fortress in Skopje, Macedonia" /></dt>
						<dd>Fortress, Skopje, Macedonia. Photo courtesy of Wikimedia, Tony Bowden, photographer.</dd>
					</dl>

            </div>
        </div> <!--closing content-->
        </div>
    </div>
