<body class="tier-1 layout-n0-p1-s1" id="seminars">

  <div id="gcheader"></div>
    <div id="container">
        <div id="inner-container">

			<!-- header -->
			<div id="header">
				<div id="masthead">
					<div><a href="../index.aspx.html">Global Connections</a></div>
				</div>

        <!-- navigation menu -->
        <%= render 'navigation' %>
			</div>
			<!-- //header -->
			<!-- page content -->
			<div id="content" class="content clearfix">
				<div class="hidden"><p><a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
				<div id="tertiary-content" class="tc">

					<div id="nav-sub" class="nav">


                    </div>
				</div>


            <div id="primary-content" class="pc">

		<h1>Seminars</h1>
      <dl class="image block1 left">
						<dt><img src="../images/seminars/tallpaul2.jpg" alt=" " /></dt>

					</dl>

      <h4> At the   heart of the Global Connections Seminar is the belief that by gathering a   diverse group of educators from around the world, each participant will   often be exposed to <strong>educational initiatives</strong> beyond their own country's efforts. To view an outcome log of past seminars, <u><a href="../about/Outcomes.aspx.html">click here</a></u>. </h4>
                    <p>&nbsp;</p>
                    <br />

              <h4>These Seminars facilitate: </h4>
        <ul>
          <li>National, Regional and Worldwide opportunities for collaborative   programs and discussions concerning secondary school interests and   issues </li>
          <li>Reviews of thematic issues such as leadership and team building, environmentalism, uses of technology, and community service </li>
          <li>The sharing of ideas, information and people </li>
          <li>Recognition and support of roles and relationships between advantaged and less-advantaged schools globally </li>
          <li>Collaboration in the planning and outcomes of coordinated programs among like-minded schools worldwide </li>
          <li>Participation in the future of cross-cultural,   school-to-school projects in community service, experiential education   or simply exchanges between academic staff and students </li>
          <li>Coordination between other organizations worldwide such as:
            <ul>
              <li> <a href="http://roundsquare.org">Round Square</a>, </li>
              <li> <a href="http://www.ncgs.org">National Coalition of Girls School</a>, </li>
              <li> and Global Education Enterprises. </li>
            </ul>
          </li>
        </ul>

        <p>Global Connections is recognized as a not-for-profit entity.  As of this date there have been <strong>no membership dues or fees required</strong> of interested educators.  The only payment is for the cost of participation in the annual Seminar, a portion of which also <strong>provides funds for the attendance of less-advantaged school leaders</strong> and the actual out-of-pocket cost of those convening the Seminar. </p>
         <dl class="image block5 wide">
						<dt><img src="../images/seminars/GCConference-8.jpg" alt=" " /></dt>
						<dd>Global Connections VIII participants</dd>
					</dl>

            </div>
            <div id="secondary-content" class="sc">

    <dl class="image block3 right">
						<dt><img src="../images/seminars/Guatemala.jpg" alt="Visiting a school in Guatemala " /></dt>
						<dd>Visiting a school in Guatemala</dd>
	  </dl>
      <p></p>
      <dl class="image block3 right">
						<dt><img src="../images/seminars/meeting-08.jpg" alt="A meeting at GC VIII" /></dt>

	  </dl>
      <h3>Global Connections Seminars</h3>
      <table>

						<tr>
							<td>GC I</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>South Africa & Botswana, 1997</td>
						</tr>
						<tr class="alt">
							<td> GC II</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Australia, Victoria and New South Wales, 1998</td>
						</tr>
                        <tr>
							<td>GC  III</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Crowthorne, United Kingdom, 1999</td>
						</tr>
						<tr class="alt">
							<td> GC IV</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Massachusetts, United States of America, 2000</td>
						</tr>
                        <tr>
							<td> GC V</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Kenya, Africa, 2001</td>
						</tr>
						<tr class="alt">
							<td> GC VI</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>China, 2002</td>
						</tr>
                        <tr>
							<td> GC VII</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>France, 2003</td>
						</tr>
						<tr class="alt">
							<td> GC VIII </td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Bulgaria and Romania, 2004</td>
						</tr>
                        <tr>
							<td> GC IX</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Guatemala, 2005</td>
						</tr>
						<tr class="alt">
							<td> GC X</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Connecticut, United States of America, 2007</td>
						</tr>
						<tr>
							<td> GC XI</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Chiang Mai, Thailand, 2008</td>
						</tr>
                        <tr class="alt">
							<td> GC XII</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Amman, Jordan, 2010</td>
						</tr>
						<tr>
							<td>GC XIII</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>South Africa & Botswana, 2011</td>
						</tr>
                        <tr>
							<td>GC XIV</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>New Zealand, 2012</td>
						</tr>
                        <tr class="last-child">
							<td>GC XV</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Colombia, 2013</td>
						</tr>
					</table>
                    <br />
      <h4><u><a href="../about/evolution.aspx.html">Click here</a></u> to see the evolution of The Global Connections Seminars.</h4>


            </div>
        </div> <!--closing content-->
        </div>
    </div>

<script type="text/javascript" language="JavaScript">
	// <![CDATA[
	// An array of links should keep their https
	var SI_skipHTTPS = new Array(
		'/Alumni/$', // $ all links are de-https'd with this path /Alumni/
		'/Alumni/index.aspx'
		);
	SI_deHTTPSLinks();
	// ]]>
</script>


<div id="gcfooter"></div>


</body>
