/* VERSIONS
/* 4_5: Initial css version, with most recent production improvements
/* 5_0: Organize new defaults and process, improve cascade [Author: Landon Durnan]

/* ATHLETIC STYLES
*******************************************************************************
Upcoming Games
Recent Scores
Team List
Select Team
Team Page
Directions
Coaches
*/

/* 
-----------------------------------------------------------------------------
 =Upcoming Games
----------------------------------------------------------------------------- */
.upcoming-games{}
	.upcoming-games #games{} /* Tabs */
	.upcoming-games #filter-games{}
		.upcoming-games #filter-games dl.calendar-day{} /* Cascades from calendar.css */
			.upcoming-games #filter-games dl.calendar-day dt{}
			.upcoming-games #filter-games dl.calendar-day dd{}

/* 
-----------------------------------------------------------------------------
 =Recent Scores
----------------------------------------------------------------------------- */
.scoreboard{}
	.scoreboard .scoreboard{} /* necessary? */
	.scoreboard h2{}
	.scoreboard dl.scoreboard-day{}
		.scoreboard dl.scoreboard-day dt{} /* Suggest using table.style th */
		.scoreboard dl.scoreboard-day dd{
			margin: 0; 
			padding: 0;
			}
			.scoreboard dl.scoreboard-day dd table{ 
				width: 100%; 
				margin: 0; 
				padding: 0;
				border: 0;
				}
				.scoreboard dl.scoreboard-day dd table tr{}
				.scoreboard dl.scoreboard-day dd table tr.first-child{}
				.scoreboard dl.scoreboard-day dd table tr.last-child{}
					.scoreboard dl.scoreboard-day dd table tr td{}
					.scoreboard dl.scoreboard-day dd table tr td.first-child{}
					.scoreboard dl.scoreboard-day dd table tr td.last-child{}
					.scoreboard dl.scoreboard-day dd table tr td.team{}
					.scoreboard dl.scoreboard-day dd table tr td.score{}
					.scoreboard dl.scoreboard-day dd table tr td.result{}
					.scoreboard dl.scoreboard-day dd table tr td.score,
					.scoreboard dl.scoreboard-day dd table tr td.result{
						width: 1.2em;
						text-align: left;
						white-space: nowrap;
						padding-left: 0;
						}
						
/* 
-----------------------------------------------------------------------------
 =Team List
----------------------------------------------------------------------------- */
.seasons{}
	.seasons #fall{}
	.seasons #winter{}
	.seasons #spring{}

dl.team{
	margin: 1.0em 0;
	width: 48%;
	float: left;
	}
	dl.team dt{ font-weight: bold; }
	dl.team dd{}
		dl.team dd ul{
			list-style: none;
			margin: 0;
			padding: 0;
			}
			dl.team dd ul li{
				background: none;
				padding: 0;
				}

/* 
-----------------------------------------------------------------------------
 =Select Team / Select Year 
----------------------------------------------------------------------------- */
.teamselect{ margin-bottom: 1.8em; }
	.teamselect select{ width: 100%; }

.team-select form{ float: right; margin-bottom: -1.8em;} /* want to redo this like below */
.yearselect{ float: right; }
	.yearselect label{}
	.yearselect select{}


/* 
-----------------------------------------------------------------------------
 =Team Page
----------------------------------------------------------------------------- */
#teampage{}
	#teampage h1{} /* Team Title */
	
	#teampage .teamselect{ width: 200px; float: right; }
	
	#teampage .tab-row{}
	
	#teampage .team-info{}
		#teampage .team-info h2{}
		#teampage .team-info p{}
		#teampage .team-info .gallery-attachment{ }
			#teampage .team-info .gallery-attachment dl.image-list dd{ display: none; }
	
	#teampage h3.record{ 
		float: right; 
		border: 1px solid #999; 
		background-color: #CFCFCF; 
		padding: .5em; 
		width: 11em; 
		}
		#teampage h3.record span{}
	.fullschedule h3.record{ display: none; } /* Print Version */
	
	#teampage a.schedule,
	#teampage span.directions{ float: right; margin-left: 1em; padding-left: 18px; }
	#teampage a.schedule{ background: url(../../images/common/icon_schedule.gif) 0 2px no-repeat; }
	#teampage span.directions{ background: url(../../images/common/icon_car.gif) 0 2px no-repeat; }
		
/* 

-----------------------------------------------------------------------------
 =Schedule - Team Schedule 
 
 Availdable TR classes:
 .first-child, .last-child, .alt, .home, .away
 Available TH / TD classes:
 .date, .opponent, .away, .start, .end, .result, .more
----------------------------------------------------------------------------- */
.team-schedule{}
	.team-schedule tr{}
		.team-schedule tr th{ }
		.team-schedule tr td{ }
			
/* 
-----------------------------------------------------------------------------
 =Directions
----------------------------------------------------------------------------- */
.direction-select{ width: 47%; float: right; }
	.direction-select h2{}
	.direction-select select{ width: 99%; display: block; }
.opponent-select{ float: left; width: 47%; }
.alternate-select{ }

.direction-result{ margin-top: 10em; }
	.direction-result h2{ font-size: 100%; margin-top: 1.5em;}
	.direction-result dl.directions{}
		.direction-result dl.directions dt{
			font-weight: bold; 
			}
		.direction-result dl.directions dd{
			margin-bottom: 1.0em;
			}
	
/* 
-----------------------------------------------------------------------------
 To be completed later:
----------------------------------------------------------------------------- */
/* SCOREBOARD CHART
----------------------------------------------------------------------------- */
table.scoreboard-chart { clear: both; }
.scoreboard-chart tr.seasons {}
.scoreboard-chart ul.season-list { list-style: none; margin: 0; padding: 0; }
.scoreboard-chart ul.season-list li { float: left; margin: 0 5px 0 0; padding: 0; }
.scoreboard-chart ul.season-list li.active { font-weight: bold; }
.scoreboard-chart tr.alt {}
.scoreboard-chart tr th {}
.scoreboard-chart tr td {}
.scoreboard-chart tr td.team { width: 40%; }
.scoreboard-chart tr td.win { width: 20%; }
.scoreboard-chart tr td.loss { width: 20%; }
.scoreboard-chart tr td.tie { width: 20%; }
.scoreboard-chart td.no-content {}

/* SCOREBOARD BY TEAM
----------------------------------------------------------------------------- */
.scoreboard-team {}
.scoreboard-team ul.scoreboard-day { list-style: none; padding: 0; margin: 0; }
.scoreboard-team ul.scoreboard-day li { padding: 0; margin: 0; }
.scoreboard-team ul.scoreboard-day li.alt {}
.scoreboard-team ul.scoreboard-day li table {}
.scoreboard-team ul.scoreboard-day li table tr {}
.scoreboard-team ul.scoreboard-day li table td { padding: 0 5px; }
.scoreboard-team ul.scoreboard-day li table td.date {}
.scoreboard-team ul.scoreboard-day li table td.opponent {}
.scoreboard-team ul.scoreboard-day li table td.score {}

/* TEAMS & SCHEDULES - CHART
----------------------------------------------------------------------------- */
table.teams { border-collapse: collapse; width: 100%; }
table.teams th { background-color: #999; border-bottom: 1px solid #888; padding: 2px 4px 1px; color: #FFF; font-weight: bold; }
table.teams th.season { background-color: #CCC; border-top: 1px solid #FFF; border-bottom: 1px solid #BBB; color: #333; font-weight: normal; }
table.teams td { width: 33%; }
table.teams dl.team { width: auto; float: none; margin: 0 0 1.0em; font-size: 0.92em; }
table.teams dl.team dt { background-color: #EEE; border-bottom: 1px solid #DDD;	border-top: 1px solid #FFF;	border-right: 1px solid #FFF; padding: 2px 4px 1px;	}
table.teams td.last-child dl.team dt { border-right: none; }
table.teams dl.team dd { padding: 2px 4px; }


/* MY SPORTS LIST
----------------------------------------------------------------------------- */
.team-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 2px solid #CCC;
	border-bottom: 3px solid #CCC;
	}
.team-list ul li {
	line-height: 1.4em;
	margin: 0 0 0.3em;
	padding: 0.3em 0 0;
	border-top: 1px solid #CCC;
	}
	