@import url("../../_infrastructure/css/module/directory.css");

/* =LIST (Import from Shared)
----------------------------------------------------------------------------- */


/* =PROFILE (Import from Shared)
----------------------------------------------------------------------------- */


/* =SEARCH
----------------------------------------------------------------------------- */
.directory-search{ }
	.directory-search h2{}
	.directory-search form{ padding-bottom: 1em; }
		.directory-search label{ display: block; }
			.directory-search label span{ display: block; }
				.directory-search label span input,
				.directory-search label span select{ width: 90%; }
				.directory-search label span input{}
				.directory-search label span select{ width: 96%; }
			.directory-search input.button{ margin-top: .5em; }
			
			
/* =BIRTHDAY (Import from Shared)
----------------------------------------------------------------------------- */

	
/* Directory Update
----------------------------------------------------------------------------- */
.relateupdate {
    position: relative;
    height: 17px;
    }
.relateupdate #relateselect {
    position: absolute;
    right: 10px;
    top: 3px;
    }
.formcontainer {}
.formcontainer .tableform {}
.formcontainer .tableform table {}
.formcontainer .tableform table tr {}
.formcontainer .tableform table tr td {}
.formcontainer .tableform table tr td.labelcell {}
.formcontainer .tableform table tr td label {}
.formcontainer .tableform table tr td input {}
.formcontainer .tableform table tr td select {}
.formcontainer .tableform table tr td textarea {}
.formcontainer .tableform table tr td.submit { padding: 5px 0;	}
.formcontainer .tableform table tr td.submit input#submit {	}
.formcontainer .tableform table tr td.submit input#reset { margin-left: 10px; }
.formcontainer .tableform ul.interestsprofile {	}
.formcontainer .tableform ul.interestsprofile li { }
.formcontainer .tableform ul.interestsprofile li input { }
	
/* Friends
----------------------------------------------------------------------------- */
.sendnote,
.addafriend,
.removefriend{ float: right; margin-right: 1em; margin-top: -1.25em;}
.sc .my-friends ul{ list-style: none; margin: 8px 0 0 -9px;}	
.sc .my-friends ul li{ margin: 0; padding: 0; }

/* Groups
----------------------------------------------------------------------------- */
ul.groups { list-style: none; padding: 0; margin: 5px 10px; }
    ul.groups li {}
    ul.groups li.alt {}
    ul.groups li.owner {}
    ul.groups li.archived { text-decoration: line-through; }
        ul.groups li a {}
        ul.groups li span.utility-links { margin-left: 10px; }
            ul.groups li span.utility-links a.edit-list {  }
            ul.groups li span.utility-links a.removeself-list { }
            ul.groups li span.utility-links a.remove-list { }
            ul.groups li span.utility-links a.email-list { }
            ul.groups li span.utility-links a.list-discussion { }
            ul.groups li span.utility-links a.list-join { }

/* My Groups List */
div.mygroups-list { }
    div.mygroups-list h2 { }
    div.mygroups-list ul.groups { }
            
/* Manage Groups List */
div.managegroups-list { }
    div.managegroups-list h2 { }
    div.managegroups-list ul.groups { }

/* Browse Groups List */
div.browsegroups-list { }
    div.browsegroups-list h2 { }
    div.browsegroups-list ul.groups { }
        div.browsegroups-list ul.groups li span.list-owner { }

   
/* View Group */
div.view-group { }
    div.view-group h2 { }
    div.view-group p.group-options { }
        div.view-group p.group-options a { }
        div.view-group p.group-options a.edit-list { }
        div.view-group p.group-options a.list-discussion { }
        div.view-group p.group-options a.removeself-list { }
        div.view-group p.group-options a.email-list { }
    div.view-group p.group-desc { }
    div.view-group ul { list-style: none; margin: 5px 10px; }
    div.view-group ul li { }
    div.view-group ul li.alt { }
        div.view-group ul li a { }
        div.view-group ul li span.utility-links { margin-left: 5px; }
            div.view-group ul li span.utility-links a { margin-left: 5px; }
            div.view-group ul li span.utility-links a.email-link { }
            div.view-group ul li span.utility-links a.remove-link { }

/* Edit Group */
.edit-group
    .edit-group h2 { }
    .edit-group form { }
        .edit-group form p { }
            .edit-group form p label { }
            .edit-group form p input { margin-bottom: 7px; }
            .edit-group form p input#ListArchived { margin-right: 5px; }
            .edit-group form p input#isPublic { margin-right: 5px; }
            .edit-group form p select { margin-bottom: 7px; }

/* Create Group */
div.createinput { }
    div.createinput label { }
    div.createinput input { margin-bottom: 7px; }
    div.createinput input#isPublic { margin-right: 5px; }
    div.createinput select { margin-bottom: 7px;  }
.create-group { }
    .create-group h2 { }
    .create-group div.createinput { }

/* Search Groups */
div.group-search { }
    div.group-search h2 { }
    div.group-search form { }
        div.group-search form label { display: block; }
            div.group-search form label input { display: block; margin-bottom: 7px; }
        div.group-search form input.button { }
        
/* Manage Groups */
div.manage-groups { }
    div.manage-groups p { }
        div.manage-groups p a { }