/* VERSIONS
/* 4_5: Initial css version, with most recent production improvements
/* 4_6: Removed unused CSS, updated defaults

/* RESOURCE LIST STYLES
********************************************************************************/

/* 
-----------------------------------------------------------------------------
=Full, Single, Categories Lists
----------------------------------------------------------------------------- */
div.resource-list {
	width: 100%;
	}
	div.resource-list dl {
		margin: 0 0 .5em 0;
		padding: 0;
		}
		div.resource-list dt {
			font-weight: bold;
			margin: 0;
			padding: 0;
			font-size: 1.2em;
			}
		/*div.resource-categories div.resource-list dt a {
			font-size: 1em;
			font-weight: normal;
			}*/
		div.resource-list dd {
			margin: 0;
			padding: 0;
			}
			div.resource-list dd p {
				margin: 0 0 .5em 0;
				}
			div.resource-list ul {
				margin: 1em 0 1.5em 0;
				padding: 0;
				list-style: none;
				}
				div.resource-list ul li {
					list-style-image: none;
					background: none;
					margin: 0 0 .5em 0;
					padding: 0;
					}
				div.resource-list ul li.alt {  /* suggest using tr.alt style from table.styled */
					}
				div.resource-list ul li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
					div.resource-list ul li p {
						margin: 0 0 .5em 0;
						}
					div.resource-list ul li h4,
					div.resource-list ul li h5,
					div.resource-list ul li h6 {
						font-size: 1em;
						display: inline;
						margin: 0;
						padding: 0;
						}
					div.resource-list ul li h4 { /* resource title */
						font-size: 1em;
						display: block;
						font-weight: bold;
						}
					div.resource-list ul li h5 { /* source */
						}
					div.resource-list ul li h6 { /* status */
						}
					div.resource-list ul li .thumb {
						position: relative;
						float: right;
						margin: -1.2em 0 .4em .8em; /* set top margin to equal negative value of h4 font-size above to align with title */
						}
					div.resource-list ul li .thumb img {
						}
						