
  <div id="gcheader"></div>
    <div id="container">
        <div id="inner-container">

          <!-- header -->
          <div id="header">
            <div id="masthead">
              <div><%= link_to "Global Connections",root_path %></div>
            </div>

            <!-- navigation menu -->
            <%= render 'navigation' %>
			</div>
			<!-- //header -->
			<!-- page content -->
			<div id="content" class="content clearfix">
				<div class="hidden"><p><a href="GCSeminarXVII.aspx.html#primary-content">Skip to Page Content</a></p></div>
				<div id="tertiary-content" class="tc">

					<div id="nav-sub" class="nav">


                    </div>
				</div>


            <div id="primary-content" class="pc">

             <%= raw(@seminar.content) %>

        </div> <!--closing content-->
        </div>
    </div>
