<!-- footer -->
<div id="footer-container">
    <div id="footer">
      <address>
          <img src="../images/common/gcf_footer.gif" alt="Global Connections Foundation"/>
          <p>
          Keystone Academy<br />
          No.11, Anfu Street, Houshayu, Shunyi District<br />
          Beijing 101318 CHINA<br />
          <br />
          <em>&copy; 2014 Global Connections Foundation</em></p>
      </address>
      <div id="contactinfo">
          <ul>
            <li  class="first-child"><a class="email" href="mailto:malcolm.mckenzie@keystoneacademy.cn">Malcolm McKenzie</a><br />
                Head of School   <br />
            </li>
                <li>
                  <a class="email" href="mailto:echo.cai@keystoneacademy.cn">Echo Cai</a><br />
                    Assistant to Head of School <br />
                    +86 (0)10 8049-6008
                </li>
                <p class="navbar-text pull-right">
          </ul>
      </div>
      </div>
</div>

<!-- //footer -->
